{% extends 'base.html.twig' %}

{% block title %}Gérer les articles{% endblock %}

{% block body %}
	<div class="container">
		<h1>Gérer les articles</h1>

		<table class="table striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>Content</th>
					<th>Image</th>
					<th>Author</th>
					<th>Actions</th>
			</tr>
		</thead>
		<tbody>

			{% for article in articles %}
				<tr>
					<td>{{ article.id }}</td>
					<td>{{ article.title }}</td>
					<td>{{ article.content|striptags|u.truncate(100, '...') }}</td>
					<td><img src="{{ article.image }}" alt="" class="img-fluid"></td>
					<td>{{ article.author }}</td>
					<td class"text-center">

				<form method="post" action="{{ path								('admin_articles_supprimer', {'id': article.id}) }}" 	onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément ?');">
    			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    			<button class="btn btn-danger btn-press  modal-trigger">SUPPRIMER</button>
				</form>

					{# <a href="" class="btn rounded-1 primary btn-press  modal-trigger" data-target="modal-delete" 
					data-id="{{article.id}}" data-titre="{{article.title}} ">SUPPIMER</a>
					</td> #}
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="modal shadow-1 white modal-falling" id="modal-delete" data-ax="modal">
  <div class="modal-header">Supprimer un article</div>

  <div class="divider"></div>

  <div class="modal-content"></div>

  <div class="divider"></div>

  <div class="modal-footer">

		<a href="" class=" ml-auto btn shadow-1 rounded-1 btn-small btn red">VALIDER</a>
    <button data-target="modal-delete" class="ml-auto btn shadow-1 rounded-1 btn-small primary">Close</button>
  </div>
	</div>

	</div>
{% endblock %}

{% block javascripts %}

	{# MON JAVASCRIPT #}
	<script src="{{ asset('js/script.js') }}"></script>

{% endblock %}

